* {
    margin: 0;

    }
.header{
    display: flex;

    background-color: #f44336!important;
    box-shadow: -1px 5px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 5px 5px 0px rgba(0,0,0,0.75);
    z-index: 2;
    
}
.btn{
    width: 100px;
    height: 50px;
    color: white;
    border: unset;
    background: unset;
    font-size: 1.125rem;
    font-family: 'Montserrat', sans-serif;

}
.btn:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}

.btnh{
    background-color: white;
    max-width: 100px;
    max-height: 50px;
    border: unset;
    color: black;
    font-size: 1.125rem;
    font-family: 'Montserrat', sans-serif;
}
.btnh:hover{
    background-color: whitesmoke;
}
.top-segment{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 97.9vw;
    height: 30vh;
    background-color:#f44336!important;
    padding: 128px 16px;
    text-align: center;
    color: white;
    z-index: -1;
}
.h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 64px!important;
    font-weight: 400;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin:16px;
}
.w3{
    font-size: 24px!important;
    font-family: "Lato", sans-serif;;
    margin-block-start: 1em;
    margin-block-end: 1em;
    
}
.btn-seg{
    font-size: 18px;
    padding: 12px 24px;
    max-width: 180px;
    text-align: center;
    background-color: black;
    color: white;
    border: none;
    margin-top: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
.btn-seg:hover{
    cursor: pointer;
    color: black;
    background-color: white;
}
.secnd-segment{
    padding-top: 64px;
    padding-bottom: 64px;
}
.lorem{
    margin-left: 270px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-family: "Montserrat", sans-serif;
}
.stat{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-left: 270px;
    max-width: 700px;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}
.small{
    padding-top: 40px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-left: 270px;
    max-width: 700px;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #757575!important;
}
